<?xml version="1.0"?>
<connectionStrings>
  <add name="TwitBotContext" 
       connectionString="Data Source=localhost;Initial Catalog=Twitbot.Core;Persist Security Info=False;Integrated Security=True;Pooling=False;MultipleActiveResultSets=False;"
       providerName="System.Data.SqlClient"/>
  <add name="DWHContext"
     connectionString="Data Source=localhost;Initial Catalog=Twitbot.DWH;Persist Security Info=False;Integrated Security=True;Pooling=False;MultipleActiveResultSets=False;"
     providerName="System.Data.SqlClient"/>
  <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName={PUT HERE YOUR ACCOUNT NAME};AccountKey={PUT HERE YOUR ACCOUNT KEY}"  />
  <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName={PUT HERE YOUR ACCOUNT NAME};AccountKey={PUT HERE YOUR ACCOUNT KEY}"  />
</connectionStrings>
