<?xml version="1.0"?>
<appSettings>
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />
  <add key="TwitterToken" value="" />
  <add key="TwitterTokenSecret" value="" />
  <add key="TwitterUserId" value=""/>
  <add key="BotId" value="" />
  <add key="MicrosoftAppID" value="" />
  <add key="MicrosoftAppPassword" value="" />
  <add key="TextAnalytics" value=""/>
  <add key="CognitiveServicesLUISSubscriptionKey" value=""/>
  <add key="CognitiveServicesLUISAppId" value=""/>
</appSettings>
